

<p id="notice"><%= notice %></p>
<%= link_to "Back to welcome page ", root_path%>
<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
    <% @album_all_images.each do |image| %>
      	<%if image%>
      	<td>
       				<%= image_tag image.avatar.url(:small)  %>
       	</td>
       	
       <%end%>
    <% end %>
      </tr>
  </tbody>
</table>

<br>







